@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Users/joshuaporter/.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Users/joshuaporter/.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Users/joshuaporter/.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Users/joshuaporter/.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Users/joshuaporter/.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Users/joshuaporter/.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Users/joshuaporter/.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Users/joshuaporter/.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Users/joshuaporter/.rvm/gems/ruby-1.9.2-p290@global/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */
/* line 5, ../sass/html5.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 6, ../sass/html5.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 7, ../sass/html5.scss */
audio:not([controls]) {
  display: none;
}

/* line 8, ../sass/html5.scss */
[hidden] {
  display: none;
}

/* line 10, ../sass/html5.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 11, ../sass/html5.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 12, ../sass/html5.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 14, ../sass/html5.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 15, ../sass/html5.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 17, ../sass/html5.scss */
a {
  color: #00e;
}

/* line 18, ../sass/html5.scss */
a:visited {
  color: #551a8b;
}

/* line 19, ../sass/html5.scss */
a:hover {
  color: #06e;
}

/* line 20, ../sass/html5.scss */
a:focus {
  outline: thin dotted;
}

/* line 21, ../sass/html5.scss */
a:hover, a:active {
  outline: 0;
}

/* line 23, ../sass/html5.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 24, ../sass/html5.scss */
b, strong {
  font-weight: bold;
}

/* line 25, ../sass/html5.scss */
blockquote {
  margin: 1em 40px;
}

/* line 26, ../sass/html5.scss */
dfn {
  font-style: italic;
}

/* line 27, ../sass/html5.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 28, ../sass/html5.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 29, ../sass/html5.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 30, ../sass/html5.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 31, ../sass/html5.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 32, ../sass/html5.scss */
q {
  quotes: none;
}

/* line 33, ../sass/html5.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 34, ../sass/html5.scss */
small {
  font-size: 85%;
}

/* line 35, ../sass/html5.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 36, ../sass/html5.scss */
sup {
  top: -0.5em;
}

/* line 37, ../sass/html5.scss */
sub {
  bottom: -0.25em;
}

/* line 38, ../sass/html5.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 39, ../sass/html5.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 40, ../sass/html5.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 41, ../sass/html5.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 42, ../sass/html5.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 43, ../sass/html5.scss */
figure {
  margin: 0;
}

/* line 45, ../sass/html5.scss */
form {
  margin: 0;
}

/* line 46, ../sass/html5.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/html5.scss */
label {
  cursor: pointer;
}

/* line 48, ../sass/html5.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 49, ../sass/html5.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 50, ../sass/html5.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 51, ../sass/html5.scss */
table button, table input {
  *overflow: auto;
}

/* line 52, ../sass/html5.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 53, ../sass/html5.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 54, ../sass/html5.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 55, ../sass/html5.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 56, ../sass/html5.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 57, ../sass/html5.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 59, ../sass/html5.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 61, ../sass/html5.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 62, ../sass/html5.scss */
td {
  vertical-align: top;
}

/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
/* ==|== non-semantic helper classes ======================================== */
/* line 82, ../sass/html5.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 83, ../sass/html5.scss */
.ir br {
  display: none;
}

/* line 84, ../sass/html5.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 85, ../sass/html5.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 86, ../sass/html5.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 87, ../sass/html5.scss */
.invisible {
  visibility: hidden;
}

/* line 88, ../sass/html5.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 89, ../sass/html5.scss */
.clearfix:after {
  clear: both;
}

/* line 90, ../sass/html5.scss */
.clearfix {
  zoom: 1;
}

/* ==|== media queries ====================================================== */
/* ==|== print styles ======================================================= */
@media print {
  /* line 109, ../sass/html5.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 110, ../sass/html5.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 111, ../sass/html5.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 112, ../sass/html5.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 113, ../sass/html5.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 114, ../sass/html5.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 115, ../sass/html5.scss */
  thead {
    display: table-header-group;
  }

  /* line 116, ../sass/html5.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 117, ../sass/html5.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 119, ../sass/html5.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 120, ../sass/html5.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/******** Main styles *********/
/* line 35, ../sass/screen.scss */
body {
  background-color: #bbb;
}

/* line 40, ../sass/screen.scss */
#container {
  width: 960px;
  margin: 50px auto;
  text-align: center;
}

/* line 46, ../sass/screen.scss */
header {
  width: 100%;
  text-align: center;
  color: #b41414;
  font: bold 34px "Futura" Helvetica Arial sans-serif;
  text-shadow: 0px 0px 1px #000;
  -moz-text-shadow: 0px 0px 1px #000;
  -webkit-text-shadow: 0px 0px 1px #000;
}

/* line 54, ../sass/screen.scss */
#main {
  width: 300px;
  height: 400px;
  margin: 15px auto 0;
  background: #b41414;
  color: #eee;
  font: 18px "Century Gothic" Helvetica Arial sans-serif;
  padding: 20px 0 50px;
  box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
  position: relative;
}

/* line 66, ../sass/screen.scss */
p {
  margin: 5px 20px 10px;
  color: #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

/* line 73, ../sass/screen.scss */
#main-orders {
  width: auto;
  height: auto;
  margin: 15px auto 0;
  background: #b41414;
  color: #eee;
  font: 18px "Century Gothic" Helvetica Arial sans-serif;
  padding: 20px 0 50px;
  box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
  position: relative;
}

/******** Table styles *********/
/* line 87, ../sass/screen.scss */
table {
  width: 100%;
  margin: 0 0 15px;
}

/* line 92, ../sass/screen.scss */
table tbody tr td, table th {
  border: 1px solid #eee;
  font-size: 16px;
  padding: 5px 0 5px 5px;
}

/* line 98, ../sass/screen.scss */
table tbody tr td {
  font-size: 14px;
}

/* line 102, ../sass/screen.scss */
table th {
  font-weight: bold;
  color: #999;
}

/******** Form styles *********/
/* line 111, ../sass/screen.scss */
input#db-input {
  color: #eee;
  font: 18px "Century Gothic" Helvetica Arial sans-serif;
}

/* line 116, ../sass/screen.scss */
#submit {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  -webkit-appearance: none;
  border: none;
  color: #eee;
  text-decoration: none;
  line-height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#999999));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #cccccc, black);
  /* for firefox 3.6+ */
}

/* line 131, ../sass/screen.scss */
#submit:hover {
  color: #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#666666));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #cccccc, black);
  /* for firefox 3.6+ */
}

/******** About slider styles *********/
/* line 139, ../sass/screen.scss */
#about-button {
  margin: 0 auto;
  width: 100px;
  line-height: 25px;
  display: block;
  text-decoration: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  color: #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#3399ff), to(#0066cc));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #cccccc, black);
  /* for firefox 3.6+ */
}

/* line 151, ../sass/screen.scss */
#about-content {
  display: none;
  width: 250px;
  margin: 0 auto;
  background: #eee;
  padding: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border: 2px solid #3399ff;
}
